$color-primario:    #3B6D11;
$color-secundario:  #854F0B;
$color-fondo:       #f5f5f0;
$color-texto:       #2C2C2A;
$color-blanco:      #ffffff;

$fuente-base:       'Georgia', serif;
$fuente-titulos:    'Helvetica Neue', sans-serif;

$radio-borde:       12px;
$sombra:            0 2px 8px rgba(0, 0, 0, 0.08);

// ESTILOS BASE (variables)

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fuente-base;
  background-color: $color-fondo;
  color: $color-texto;
  line-height: 1.6;
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1.5rem;

  h1 {
    font-family: $fuente-titulos;
    font-size: 2rem;
    color: $color-primario;
    margin-bottom: 2rem;
  }
}


// NESTING

nav {
  background-color: $color-primario;
  padding: 1rem 2rem;

  // "Esto es equivalente a escribir 'nav ul' en CSS"
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  // "Y esto es 'nav a'"
  a {
    color: $color-blanco;
    text-decoration: none;
    font-family: $fuente-titulos;
    font-size: 0.95rem;

    // "El & representa el selector padre (a).
    //  Esto compila como 'nav a:hover'"
    &:hover {
      text-decoration: underline;
      opacity: 0.85;
    }
  }
}

// MIXIN (bloque de estilos reutilizable)

@mixin tarjeta($fondo: $color-blanco) {

  background-color: $fondo;
  border-radius: $radio-borde;
  box-shadow: $sombra;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.06);

  // "Dentro del mixin también podemos usar nesting"
  h2 {
    font-family: $fuente-titulos;
    font-size: 1.1rem;
    color: $color-texto;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: lighten($color-texto, 20%);
    margin-bottom: 1rem;
  }
}

// USAR EL MIXIN

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.tarjeta {
  @include tarjeta;
  // "Sin parámetro → otro color de fondo"
}

.tarjeta.destacada {
  @include tarjeta(#76cd03);
  // "Con parámetro → fondo verde claro"
  border: 2px solid $color-primario;
}

// ESTILOS DEL BOTÓN

.btn {
 display: inline-block;
 padding: 0.5rem 1.25rem;
 background-color: $color-primario;
 color: $color-blanco;
 border-radius: 6px;
 text-decoration: none;
 font-family: $fuente-titulos;
 font-size: 0.85rem;
 transition: background-color 0.2s;
 
 &:hover {
   background-color: darken($color-primario, 10%);
   // "darken() y lighten() son funciones propias de SASS.
 }
}
